body {
    margin: 10px;
    padding-bottom: 20%;
    background: rgb(67,206,162);
    background: linear-gradient(90deg, rgba(67,206,162,1) 0%, rgba(24,90,157,1) 100%); 
}
  
.glyphicon-move {
    cursor: move;
    cursor: -webkit-grabbing;
}
